<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .completed {
            text-decoration: line-through;
            color: gray;
        }
    </style>
</head>
<body>
    <div id="app">
        <h2>To-do List</h2>
        <input v-model="newTodo" @keyup.enter="addTodo" placeholder="할 일 입력">
        <button @click="addTodo">추가</button>
        
        <br>

        <!-- 전체 체크박스 -->
        <label>전체 선택</label>
        <input type="checkbox" v-model="selectAll">

        <!-- 전체 삭제 버튼 -->
        <button @click="deleteAllTodo()">전체 삭제</button>

        <!-- 선택 삭제 버튼 -->
        <button @click="deleteSelectedTodo()">선택 삭제</button>

        <!-- 개별 체크박스 -->
        <ul>
            <li v-for="(todo, index) in todoList" :key="todo.id">
                <input type="checkbox" v-model="todo.selected">
                <span :class="{completed:todo.selected}">{{todo.text}}</span>
                <button @click="deleteTodo(index)">삭제</button>
            </li>
        </ul>
    </div>
    <script>
        var app = new Vue({
                el: '#app',

                data: {
                    newTodo: '',
                    todoList: [],
                    selected: false,
                    cnt: 0
                },

                computed: {
                    selectAll: {
                        get() {
                            // 모든 목록이 체크됐을 때만 ture 반환
                            return this.todoList.length && this.todoList.every(todo => todo.selected)
                        },

                        set(value) {
                            // 전체선택 체크박스가 체크되면 모든 목록을 체크하도록 set
                            this.todoList.forEach(todo => {
                                todo.selected = value;
                            });
                        }
                    }
                },


                methods: {
                    addTodo() {
                        if (this.newTodo) {
                            this.todoList.push({text:this.newTodo, selected:false, id:this.cnt++});
                            this.newTodo = '';
                        }
                    },

                    deleteTodo(index) {
                        this.todoList.splice(index, 1);
                    },

                    deleteAllTodo() {
                        this.todoList = [];
                        this.cnt = 0;
                    },
                    deleteSelectedTodo() {
                        this.todoList = this.todoList.filter(todo => !todo.selected);
                    }
                },

                beforeCreate() {
                    console.log('beforeCreate : 인스턴스 초기화 직후입니다. 아직 DOM에 접근이 불가합니다.');
                },

                created() {
                    console.log('created : 인스턴스가 생성돼 호출되었습니다. 아직 DOM에는 추가되지 않았습니다.');
                },

                beforeMount() {
                    console.log('beforeMount : 템플릿 컴파일 후 첫 렌더링 전입니다. 요소들이 아직 DOM에 mounted되지 않았습니다.');
                    // debugger;
                },

                mounted() {
                    console.log('mounted : 인스턴스가 DOM에 마운트되었습니다. DOM에 접근이 가능합니다.');
                    // debugger;
                },

                beforeUpdate() { 
                    console.log('beforeUpdate : 데이터 변경 후 DOM에 패치되기 전입니다.');
                },

                updated() { 
                    console.log('updated : 데이터 변경으로 인해 가상 DOM이 다시 렌더링 및 패치되었습니다.');
                },

                beforeDestroy() {
                    console.log('beforeDestroy : 인스턴스가 제거되기 직전입니다. 이벤트 리스너 및 타이머를 정리합니다.');
                },

                destroyed() {
                    console.log('destroyed : 모든 디렉티브 바인딩 해제, 인스턴스 및 모든 이벤트 리스너가 제거되었습니다.');
                }

            })
        
    </script>
</body>
</html>