<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h2>To-do List</h2>
        <input v-model="newTodo" @keyup.enter="addTodo" placeholder="할 일 입력"> <!-- 새로운 할 일 입력받을 input. 텍스트 입력 후 엔터를 치면 addTodo 메서드 호출 -->
        <button @click="addTodo">추가</button> <!-- 할 일 추가 버튼. 클릭시 addTodo 메서드 호출 -->
        <ul>
            <li v-for="(todo, index) in todoList" :key="index"> <!-- todoList 에서 할 일들을 for문을 통해 하나씩 뽑아서 보여줌. :key="index" : index에 따라 정렬 -->
                {{todo}} <!-- 할 일들이 들어갈 자리 -->
                <button @click="deleteTodo(index)">삭제</button> <!-- 할 일 삭제 버튼. 클릭시 deleteTodo 메서드 호출하고 index를 인자로 보냄 -->
            </li>
        </ul>
    </div>
    <script>
        /*
        - el: 마운트할 DOM 엘리먼트
        - data: 반응형 데이터 객체
        - methods: 메서드 정의
        - computed: 계산된 속성
        - watch: 데이터 변화 감시
        - lifecycle hooks: 생명주기 훅 메서드
        - components: 하위 컴포넌트 등록
        */
        var app = new Vue({ // Vue 인스턴스 생성
            el: '#app',
            
            data: {
                newTodo: '', // 새로운 할 일을 저장할 변수 데이터
                todoList : [] // 할 일 항목들을 저장할 배열
            },

            methods: {
                addTodo() { // 할 일 추가 기능을 하는 메서드
                    console.log("addTodo() 호출");

                    if(this.newTodo) {
                        this.todoList.push(this.newTodo); // 새로운 할 일을 리스트에 삽입
                        this.newTodo = ''; // input box 비우기
                    }

                    console.log("새로운 할 일 : ",this.newTodo);
                    console.log("할 일 리스트 : ", this.todoList);
                },

                deleteTodo(index) { // 할 일 삭제 기능을 하는 메서드
                    console.log("deleteTodo() 호출");

                    this.todoList.splice(index,1); // 해당 할 일을 리스트에서 삭제
                    // splice(index, num) => index : array에서 지울 데이터의 index, num : 지울 데이터 수
                    // 데이터를 변경하는데도 사용 가능 e.g) arr.splice(2,1,'a','b') : 인덱스 2부터 1개의 요소를 'a' 와 'b' 로 변경
                    // 만약 arr이 [1,2,3,4,5] 였다면 [1,2,'a','b',4,5] 로 변경됨
                    

                    console.log("할 일 리스트 : ", this.todoList);
                }
                
            },

        })
    </script>
</body>
</html>