<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="todoList.css">
    <script defer src="todoList.js"></script>
</head>
<body style="background-color: rgb(76, 76, 76);">
    <div id="app">
        <h2>To-do List</h2>
        <div id="inputText">
            <input 
                v-model="newTodo" 
                @keyup.enter="addTodo" 
                placeholder="할 일 입력"
            >
            <button 
                @click="addTodo" 
                class="btn"
            >
                추가
            </button>
        </div>

        <div id="content">
            <!-- 전체 체크박스 -->
            <label>전체 선택</label>
            <input 
                type="checkbox" 
                v-model="isAllSelected"
                @change="toggleSelectAll"
            >

            <!-- 필터링 버튼(셀렉트) -->
            <select 
                id="selectBox" 
                v-model="selectedOption"
            >
                <option value="all">전체</option>
                <option value="done">완료</option>
                <option value="undone">미완료</option>
            </select>

            <!-- 전체 삭제 버튼 -->
            <button 
                class="btn"
                @click="deleteAllTodo()" 
            >
                전체 삭제
            </button>

            <!-- 선택 삭제 버튼 -->
            <button 
                class="btn"
                @click="deleteSelectedTodo()" 
            >
                선택 삭제
            </button>

            <!-- 할 일 목록 부재시 메시지 -->
            <div v-if="filteredTodo.length===0">
                {{noTodoLeftMsg}}
            </div>

            <ul>
                <li 
                    v-for="(todo, index) in filteredTodo" 
                    :key="todo.id"
                >
                    <!-- 개별 체크박스 -->
                    <input 
                        type="checkbox" 
                        v-model="todo.selected"
                    >

                    <!-- 할 일 텍스트 칸 -->
                    <span 
                        v-if="!todo.isEditing" 
                        :class="{completed:todo.isDone}"
                    >
                        {{todo.text}}
                    </span>
                    <input 
                        v-else type="text" 
                        v-model="todo.text" 
                        @keyup.enter="updateTodo(todo.id)"
                    >

                    <!-- 완료 상태 변경 버튼 -->
                    <button 
                        @click="changeIsDone(todo.id)" 
                        class="btn"
                        v-if="!todo.isEditing"
                    >
                        완료
                    </button>

                    <!-- 할 일 수정 버튼 -->
                    <button 
                        v-if="!todo.isEditing" 
                        @click="editTodo(todo.id)" 
                        class="btn"
                    >
                        수정
                    </button>
                    <span v-else class="isEditing">
                        <button 
                            @click="updateTodo(todo.id)" 
                            class="btn"
                        >
                            수정 완료
                        </button>
                        <button @click="cancelUpdate(todo.id)" 
                            class="btn">
                            취소
                        </button>
                    </span>

                    <!-- 할 일 삭제 버튼 -->
                    <button 
                        @click="deleteTodo(todo.id)" 
                        class="btn"
                    >
                        삭제
                    </button>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>